<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <title>Errore</title>
</head>
<body>
    
    <!-- Navbar -->
    <nav th:replace="~{navbar :: navbar('Eventi')}"></nav> 
    <h1 th:text="${errorMessage}">Elemento non trovato</h1>


    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
</body>
</html>