<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <title>Inserisci evento</title>
</head>
<body>
    <nav th:replace="~{navbar :: navbar('Eventi')}"></nav>

    <div class="container">
        <div class="content">
            <h1 class="text-center py-3">Utenti</h1>
            <hr/>
            
        </div>
    </div>

    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
</body>
</html>